<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resource/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@300;500;600;700&display=swap" rel="stylesheet">
    <title>Sing up page</title>
</head>
<body>
    <div id="margen">
      <div class="container">
        <form>
          <h1>SING-UP</h1>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" placeholder="write here...">
        
          <label for="password">Password</label>
          <input type="password" id="password" name="password">
        
          <button type="submit">Iniciar sesión</button>
          
          <div id="extra">
              <p>log-in</p>
              <P id="forgot">passwd?</P>
              
          </div>
        </form>
      </div>
    </div>

  </body>
</html>