*{
    margin: 0;
    padding: 0;
    font-family: 'Changa', sans-serif;
    font-family: 'Rubik Puddles', cursive;
    font-family: 'Space Grotesk', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-image: url(./wallpapers/Aesthetic-Beige-Wallpaper-HD-Sands.jpg);
    background-size: cover;

    
}
#header{
    width: 100%;
    height: 2cm;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
h2{
    margin: 0.5cm;
    font-size: 25px;
    cursor: pointer;
    transition: 1s;
    position: relative;
    display: inline-block;
    
}
h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease;
}
h2:hover::after {
    width: 100%;
}
img{
    width: 20%;
    position: absolute;
    top:40%;
    left: 2.5%;
    border: 100px;
    border-radius: 20px;
    transition: 0.2s;
    transition: transform 0.5s ease;
}
img:hover{
    transform: scale(1.1,1.1);
}
#f1{
    position: absolute;
    top: 40%;
    left: 27.5%;
}
#f3{
    position: absolute;
    top: 40%;
    left: 52.5%;
}
#f4{
    position: absolute;
    top: 40%;
    left: 77.5%;
}
#title{
    position: absolute;
    top: 20%;
    right: 28%;
    font-size: 85px;
    font-family: 'Changa', sans-serif;
    font-family: 'Rubik Puddles', cursive;
    transition: transform 0.5s ease;
}
#title:hover{
    transform: scale(1.1);
}